@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400&family=Lexend+Deca&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
main {
  margin: 0 1em;
  /* display: grid;
    grid-template-areas: 'box2 box2 box2 box2 box2 box2'
                         'box3 box3 box3 box3 box3 box3'
                         'box4 box4 box4 box4 box4 box4'                   ;
   grid-gap: 2em; */
}
header {
  background-image: url(bg-hero-desktop.svg);
  padding: 0 1em;
}
h3 {
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
}
main section {
  margin: auto;
  border-radius: 10px;
  width: 90%;
}

.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}
main img {
  margin: 1em 1em 2em 1em;
}

main p,
main h3,
header h3,
header p {
  margin: 1em;
}

button {
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.box1_left button {
  width: 200px;
  margin: 0 0 4em 1em;
}
.box1_right button {
  margin: 1em 1em 2em 1em;
  width: 140px;
  background-color: white;
  color: black;
  float: right;
}
.box1_right img {
  margin: 0 1em 2em 0;
}

.middle_box {
  border-radius: 3px;
  background-color: white;
  width: 40%;
  margin: auto;
  position: relative;
  top: 40px;
  /* bottom: 50px; */
  padding: 10px;
  text-align: center;
}
.middle_box h3 {
  margin-bottom: 16px;
}
.middle_box button {
  margin-bottom: 1em;
}

footer {
  /* background-color: aqua; */
  background-color: hsl(193, 100%, 9%);
  color: white;
  display: flex;
}

footer div {
  margin: 4em 2em 0 2em;
  display: grid;
}

footer > img,
p,
a {
  padding: 4px;
}
.one img {
  padding: 5px;
}

.four {
  display: flex;
}
.four img {
  margin: 3px;
  position: relative;
  top: -30px;
  cursor: pointer;
}

footer a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@media screen and (max-width:600px) {
 header{
  background-image: url(bg-hero-mobile.svg);
  text-align: center;
max-width: 100%;
 }
 main{
  text-align: center;
 }
 header button{
  text-align: center;
 }
header img, main img{
  margin: auto;
}
 
  section{
    display:grid;
  }
  section> div{
max-width: 100%;
  }
  footer{
    display: grid;
    max-width: 100%;
    
  }
}

